[Unit]
Description=E-Paper Server
After=network.target

[Service]
EnvironmentFile=%/GitHub/ink_manager/.env
ExecStart=%h/GitHub/ink_manager/start.sh
WorkingDirectory=%h/GitHub/ink_manager/
RestartSec=3

[Install]
WantedBy=multi-user.target
