[Unit]
Description=Timer for ink display random fact on the :15 and :45 mark

[Timer]
OnCalendar=*:15
OnCalendar=*:45
Persistent=false

[Install]
WantedBy=timers.target
